# Byte-compiled / optimized / DLL files
__pycache__/

tempCodeRunnerFile.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# exclude everything except directory foo/bar
robotics_ws/build/
robotics_ws/devel/*
robotics_ws/.catkin_workspace
